Repository rashtay/react_native_beej: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, bash -c tsc, eslint --fix

Add path aliases for project folders
  .eslintrc.js
  babel.config.js
  package.json
  src/App.tsx
  src/models/basket.ts
  src/models/index.ts
  src/models/products.ts
  src/routes/index.tsx
  src/services/basket.ts
  src/store/index.ts
  tsconfig.json
  types/packages.d.ts
  yarn.lock
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Add react navigation module
  App.tsx
  index.js
  ios/Podfile.lock
  package.json
  src/routes/index.tsx
  yarn.lock
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Remove the test folder
  __tests__/App-test.tsx
  src/routes/index.tsx
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Try default styling of the navigation
  src/App.tsx
  src/routes/index.tsx
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Configure easy-peasy with typescript
  .eslintrc.js
  android/app/src/main/java/com/react_native_beej/MainApplication.java
  android/settings.gradle
  babel.config.js
  ios/Podfile
  ios/Podfile.lock
  package.json
  src/components/AuditLog/index.tsx
  src/components/BasketCount/index.tsx
  src/containers/Basket/index.tsx
  src/containers/BasketCount/index.tsx
  src/containers/Product/index.tsx
  src/containers/ProductList/index.tsx
  src/hooks/types.ts
  src/models/audit.ts
  src/models/basket.ts
  src/models/index.ts
  src/models/products.ts
  src/routes/index.tsx
  src/services/basket.ts
  src/services/index.ts
  src/store/index.ts
  src/utils/storage.ts
  tsconfig.json
  types/global.d.ts
  types/packages.d.ts
  yarn.lock
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Configure reactotron
  .eslintrc.js
  package.json
  src/store/index.ts
  src/store/reactotron.config.js
  types/global.d.ts
  yarn.lock
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Add support for hot module replacement
  package.json
  src/store/index.ts
  yarn.lock
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Add support for state persistence while navigating
  src/routes/index.tsx
  src/utils/storage.ts
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Type check navigation
  babel.config.js
  src/App.tsx
  src/containers/Basket/index.tsx
  src/containers/BasketCount/index.tsx
  src/containers/Product/index.tsx
  src/containers/ProductList/index.tsx
  src/routes/index.tsx
  src/routes/names.ts
  src/store/index.ts
  src/types/global.d.ts
  src/types/packages.d.ts
  tsconfig.json
  types/global.d.ts
  types/packages.d.ts
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Add comment for hot module reloading
  src/store/index.ts
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Add library to improve react navigation's perf
  src/App.tsx
  src/containers/BasketCount/index.tsx
  src/routes/names.ts
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Refactor containers and components
  src/components/AuditLog/index.tsx
  src/components/Basket/index.tsx
  src/components/Product/index.tsx
  src/components/ProductList/index.tsx
  src/containers/AuditLog/index.tsx
  src/containers/Basket/index.tsx
  src/containers/Product/index.tsx
  src/containers/ProductList/index.tsx
  src/routes/index.tsx
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Add api config to make service calls
  .env
  ios/Podfile.lock
  package.json
  src/containers/ProductList/index.tsx
  src/models/basket.ts
  src/models/index.ts
  src/models/products.ts
  src/services/api.ts
  src/types/global.d.ts
  src/utils/query-params.ts
  yarn.lock
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Add react native extended stylesheet
  package.json
  yarn.lock
Due: none

Update readme.md
  README.md
Due: none

Add script for installing pods
  package.json
Due: none

Fix: eslint can't resolve modules
  .eslintrc.js
  package.json
  yarn.lock
Due: prettier --parser typescript --write, eslint --fix

Update README.md
  README.md
Due: none

Create a mock server
  mock_server/db/user/user.json
  mock_server/index.js
  mock_server/sslcert/csr.pem
  mock_server/sslcert/key.pem
  mock_server/sslcert/server.crt
  package.json
  yarn.lock
Due: prettier --parser typescript --write, eslint --fix

Prettify json while saving to the file
  mock_server/index.js
Due: prettier --parser typescript --write, eslint --fix

Remove mock server
  mock_server/db/user/user.json
  mock_server/index.js
  mock_server/sslcert/csr.pem
  mock_server/sslcert/key.pem
  mock_server/sslcert/server.crt
  package.json
  yarn.lock
Due: prettier --parser typescript --write, eslint --fix

Remove unnecessary script
  package.json
Due: none

Add sync-storage package
  .env.example
  .eslintrc.js
  .gitignore
  babel.config.js
  package.json
  react-native.config.js
  src/routes/index.tsx
  src/styles/themes/light.ts
  src/types/packages.d.ts
  tsconfig.json
  yarn.lock
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Fix: Syncstorage was calling incorrect methods
  src/routes/index.tsx
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Rename the prettierrc file
  .prettierrc
  .prettierrc.js
Due: prettier --parser typescript --write, eslint --fix

Fix: Cyclic dependency issues
  src/hooks/types.ts
  src/models/audit.ts
  src/models/basket.ts
  src/models/index.ts
  src/models/model-types.ts
  src/models/products.ts
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Add a comment for model types
  src/models/model-types.ts
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Keep all the types in the types folder
  src/hooks/types.ts
  src/models/audit.ts
  src/models/basket.ts
  src/models/index.ts
  src/models/products.ts
  src/types/model-types.ts
Due: prettier --parser typescript --write, bash -c tsc, eslint --fix

Path conditions:
  prettier --parser typescript --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  bash -c tsc: any of: *.{ts,tsx}
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
